body {
    background: #f4f4f4;
}

#penrose {
  width: 120px;
  position: fixed;

  top: 30px;
  left: 50%;


margin-left: -60px;

}

#description {
  width: 360px;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -180px;

  font-family: 'courier-new', courier;
}

.triangle {
  margin-left: -10px;
  width: 0px; 
  height: 0px; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 17.25px solid red;
  float: left;
}

.triangleOdd {
  margin-left: -10px;
  width: 0px; 
  height: 0px; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 17.25px solid blue;
  float: left;
}

.first {
  margin-left: 0px;
}
.clear {
  border-color: transparent;
}

.black1 {
  border-bottom: 17.5px solid black;
}

.black2 {
  border-top: 17.5px solid black;
}

.grey2 {
  border-top: 17.5px solid grey;
}

.grey1 {
  border-bottom: 17.5px solid grey;
}

.grey2 {
  border-top: 17.5px solid grey;
}

.white1 {
  border-bottom: 17.5px solid lightgrey;
}

.white2 {
  border-top: 17.5px solid lightgrey;
}